In [18]:
from sqlalchemy import create_engine
import pandas as pd

In [56]:
df = pd.read_csv('Datasets/tickets.csv')

In [58]:
df.head()

,Created Date,Ticket No.,Category,Sub-Category,Subject,Status,Department,Urgency,Date Resolved,Isolation
0,1/5/2023,#INC-5497977,ITD HQ Support,Network Concern,Network Connection Installation,Resolved,ITD,Low,1/5/2023,NaN
1,1/5/2023,#INC-5498082,ITD HQ Support,DPC Email,Transferring of Thunderbird Account,Resolved,FINANCE,Low,1/5/2023,NaN
2,1/9/2023,#INC-5523025,ITD HQ Support,Network Concern,Network Connection Assistance,Resolved,FINANCE,Low,1/9/2023,NaN
3,1/9/2023,#INC-5509790,ITD HQ Support,PC/Printer Concern,Installation of Autocad and Sketchup,Resolved,DNC,High,1/11/2023,NaN
4,1/9/2023,#INC-5526435,HQ/District Office,PC/Printer Concern,Wifi connection and printer connection in Visa...,Resolved,OPERATIONS,Medium,1/10/2023,NaN

In [59]:
df.drop(columns=['Category'], inplace=True)

In [60]:
df.rename(columns={"Created Date":"created_date", "Ticket No.": "ticket_id","Sub-Category": "category_name", "Isolation": "remarks", "Date Resolved": "resolved_date", "Department": "department_name"}, inplace=True)

In [62]:
df['ticket_id'] = df['ticket_id'].str.strip('#INC-')

In [75]:
df['ticket_id'] = df['ticket_id'].astype('int')
df['created_date'] = pd.to_datetime(df['created_date'])
df['resolved_date'] = pd.to_datetime(df['resolved_date'])

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438 entries, 0 to 437
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   created_date     438 non-null    datetime64[ns]
 1   ticket_id        438 non-null    int32
 2   category_name    438 non-null    object
 3   Subject          438 non-null    object
 4   Status           438 non-null    object
 5   department_name  438 non-null    object
 6   Urgency          438 non-null    object
 7   resolved_date    436 non-null    datetime64[ns]
 8   remarks          267 non-null    object
dtypes: datetime64[ns](2), int32(1), object(6)
memory usage: 29.2+ KB

In [77]:
engine = create_engine(f'postgresql://postgres:netlab123@172.19.30.77:5432/ticketing')

In [78]:
engine.connect()

In [79]:
df.to_sql(name="tickets_temp", con=engine, if_exists="replace", index=False)

438

In [80]:
print(pd.io.sql.get_schema(df, name="tickets_temp"))

CREATE TABLE "tickets_temp" (
"created_date" TIMESTAMP,
  "ticket_id" INTEGER,
  "category_name" TEXT,
  "Subject" TEXT,
  "Status" TEXT,
  "department_name" TEXT,
  "Urgency" TEXT,
  "resolved_date" TIMESTAMP,
  "remarks" TEXT
)